@media (max-width: 573px) {
  .container {
    width: 500px;
    max-width: 100%;
    margin-left: 24px;

  }

  .menu a {
    display: none;
  }

  .menu {
    background-image: url(./image/меню.png);
    width: 40px;
    background-repeat: no-repeat;
    cursor: pointer;
    justify-content: space-between;

  }

  .promo h1 {
    max-width: 300px;
    margin-left: 30px;
    font-size: 36px;

  }

  .promo img {
    margin-left: 25px;
  }

  .promo_button {
    margin-left: 25px;
  }

  .link_famous {
    display: none;
  }

  .item_famous2, .item_famous3 {
    display: none;
  }

  .item_famous {
    margin-left: 20px;
    width: 500px;
  }

  .blue_text {
    margin-left: 20px;
  }

  .content_nature {
    margin-top: 70px;
    margin-left: 60px;
    width: 380px;
    height: 386px;
  }

  .pero_travel {
    margin-top: 0;
    margin-left: 40px;
    font-size: 13px;
    font-weight: 500;
    width: 294px;


  }

  .pero_lorem {
    margin-top: 0;
    margin-left: 40px;
    font-size: 13px;
    font-weight: 500;
    width: 294px;


  }
  .about{
    margin-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .types_excursion{
    flex-direction: column;
    display: flex;
  }
  .types_excursioon{
    flex-direction: column;
    display: flex;
  }
  .jeep_tour{
    margin-left: 20px;
  }
  .types_excursioon img{
    margin-left: 20px;
  }
  .types_excursion img{
    margin-left: 20px;
  }
  .o_button{
   
    margin-left: 150px;
  }
  .pre_button{
    margin-left: 20px ;
    margin-bottom: 40px;
  }
  .angry-grid{
    
    display: grid;
    grid-template-columns: repeat(2,300px);
    grid-template-rows: repeat(3,200px);
  }
  #item-6,#item-7,#item-4,#item-5{
    display: none;
  }
  #item-1{
    
    grid-column: 1/3;
    grid-row: 1/3;
    border-radius: 5px;
    background-image: url(./image/girl_mountain.png);
    background-position: center;
    /* background-size: contain; */
    background-repeat: no-repeat;
  }
  #item-1{

  }
}